/*task 1*/
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrap{
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-top: 10px;
}
.head{
    background-color: red;
    flex-grow: 1;
}
.content{
    display: flex;
    background-color: darkred;
    flex-grow: 3;
}
.card{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background-color: orange;
}
.paragraf{
    background-color: aqua;
    flex-grow: 1;
}
.navbar{
    display: flex;
    background-color: darkslategrey;
    flex-grow: 2;
}
.menu{
    flex-grow: 1;
    background-color: purple;
}
.a{
    flex-grow: 1;
    margin: 5px 5px 5px 5px;
    background-color: greenyellow;
}

/*task 2*/
.par{
    background-color: darkslategrey;
    flex-grow: 1;

}
.car{
    background-color: lawngreen;
    display: flex;
    flex-grow: 3;
}
.liswrap{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.list{
    display: flex;

    flex-grow: 1;
    background-color: darkred;
}

.ab{
    margin: 2px;
    width: 33.3333333%;
    background-color: darkcyan;

}
.line{
    background-color: cyan;
    flex-grow: 1;
}

/*task 3*/
.table-wrap{
    background-color: purple;
    display: flex;
    flex-grow: 2;

}
.table-1{
    flex-grow: 1;
    background-color: bisque;
    margin: 2px;
}
.table-wrap2{
    background-color: lawngreen;
    flex-grow: 1;
}
.table-wrap3{
    display: flex;
    flex-grow: 1;
}
.table-6{
    background-color: cyan;
    flex-grow: 1;
    margin: 2px;
}
/*task 4*/
.head-7{
    flex-grow: 1;
    background-color: purple;
}
.wrap-all{
    display: flex;
    flex-grow: 3;
    background-color: darkcyan;
}
.imgages{
    display: flex;
    flex-grow: 1;
}
.footer-7{
    background-color: lawngreen;
    flex-grow: 1;
}
.wrap-hero, .wrap-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.wrap-main{
    background-color: dodgerblue;

}
.main-content, .extra-content{
    margin: 2px;
    flex-grow: 1;
}
.main-content{
    background-color: darkblue;
}
.hero, .sidebar{
    margin: 2px;
}
.hero{
    flex-grow: 1;
    background-color: red;

}
.sidebar{
    flex-grow: 2;
    background-color: cornflowerblue;
}
.related, .post-rel{
    margin: 2px;

}
.related{
    flex-grow: 3;
    background-color: cyan;
}
.post-rel{
    flex-grow: 1;
    background-color: aliceblue;
}