@media screen and (max-width: 400px) {
    .card__img-wrap{
        display: flex;
        flex-direction: column;
    }
    .info__img-wrap{
        display: flex;
        flex-direction: column;
    }

    .header__button{
        display: block;
    }
    .header__nav-link{
        display: none;
    }



}
