body{
    margin: 0;
    padding: 0;
}


.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.post{
    box-sizing: border-box;
    width: 20%;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 10px 5px 10px darkblue ;
}



.comment{
    margin: 10px;
    box-sizing: border-box;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 5px 10px darkblue ;
}
.post,
.comment:hover{
    transition: 2s;
    background-color: red;
}