html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*header*/

.header_1{
    height: 100vh;
    background: url("../img/bg.png")no-repeat center/cover;
}
.header-top__btn div{
    margin: 3px 0;
    width: 30px;
    height: 3px;
    background-color: #FF7400;
}


.shopping{
    width: 21px;
}
.header-top{
    padding-top: 50px;
}

.nav a{
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.phone{
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.header-top__contact p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.btn{
    border: none;
    background: #FF7400;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 14px 19px;
}
.header-top__contact{
    padding: 0 35px;
    border-left: 2px solid #fff;
}



.header__main h2{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}
.header__main h1{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}
.header__main p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 21px 0;
}
.header__main p::before,
.header__main p::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: white;
}
.header__main p::before{
    content: "";
    margin-right: 10px;
}
.header__main p::after{
    content: "";
    margin-left: 10px;
}
.header__main{
    box-sizing: border-box;
    padding: 140px 600px 0 0;

}


/*description*/

.main__description{
    width: 100%;
    height: auto;
    background: #E5E5E5 center/cover;
}

.height-cont{

}
.description__wrap{
    margin-top: -65px;
}
.description__card{
    box-sizing: border-box;
    width: 33.33%;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    margin: 0 30px;
    padding: 0 20px;
}

.description__text p{
    padding: 10px 0 ;
    text-align: center;
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #2C2C2C;
    cursor: default;
}
.description__text p span{
    color: #BC9060;
}
.description__rest{
    margin-top: 165px;
}
.description__text-wrapper p{
    padding-top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #656363;
}
.description__text-wrapper h2{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}
.description__text-wrapper h2 span{
    color: #FF7400;
}
.description__text-wrapper{
    padding: 10px 50px;
}














