@media screen and (max-width: 600px) {
    .description__text p{
        font-size: 17px;
        line-height: 20px;
    }
    .header__main h2{
        font-size: 30px;
        line-height: 34px;
    }
    .header__main h1{
        font-size: 40px;
        line-height: 46px;
    }
    .header__main p{
        font-size: 15px;
        line-height: 20px;
    }
    .header__main p::before,
    .header__main p::after{
        content: "";
        display: none;
    }
    .header__main{
        padding: 175px 0;
    }
    .description__card{
        width: 100%;
        margin: 14px 0;
    }
    .description__photo img{
        margin: 40px 20px;
        width: 300px;
    }
    .description__text-wrapper{
        text-align: center;
        margin: auto;
        padding: 0;
    }
}