body{
    display: flex;
    justify-content: space-around;
}
/*task 1*/
.task1{
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: aqua;

}
.a{
    background-color: red;
    flex-grow: 1;

}
.b{
    display: flex;
    flex-grow: 2;

}
.c{
    background-color: blueviolet;
    flex-grow: 3;

}
.d{
    flex-grow: 1;
    background-color: aqua;

}

/*task 2*/
.header{
    background-color: bisque;
    flex-grow: 1;
}
.wrapper_menu{
    display: flex;
    flex-grow: 2;
    background-color: purple;
}
.menu{
    background-color: cadetblue;
    flex-grow: 1;
}
.table{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    flex-grow: 2;
}
.footer{
    flex-grow: 1;
    background-color: orange;
}
.post{
    background-color: burlywood;
    flex-grow: 1;
}

/*task 3*/
.widgets{
    background-color: orange;
    flex: 1;

}
.size-widgets{
    display: flex;
    background-color: purple;
    flex-grow: 1;
}
.big{
    background-color: brown;
    flex-grow: 1;
}
.bigger{
    background-color: darkred;
    flex-grow: 1;
}
.huge{
    background-color: gold;
    flex-grow: 1;
}

.contsct{
    background-color: lawngreen;
    flex-grow: 2;
}

/*task 4*/
.header-2{
    background-color: gold;
    flex-grow: 1;

}
.nav{
    background-color: purple;
    flex-grow: 1;
}
.content{
    display: flex;
    background-color: paleturquoise;
    flex-grow: 2;

}
.main{
    background-color: azure;
    flex-grow: 3;

}
.aside{
    background-color: lawngreen;
    flex-grow: 1;

}
.footer-content{
    background-color: orange;
    flex-grow: 1;
}




