.wrap{
    text-align: center;
    margin: 0 auto;
}

.postBtn{
    width: 90%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(18,16,92,1) 26%, rgba(228,163,216,1) 61%, rgba(148,187,233,1) 86%);
    color: red;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px;
}

.postBtn:hover{
    color: greenyellow;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(183,182,221,1) 36%, rgba(228,163,216,1) 50%, rgba(148,187,233,1) 86%);
    transition: .5s;

}


.titleDiv{
    display: flex;
    flex-wrap: wrap;
}
.title{
    flex: 1 1 auto;
}

.cardDiv{
    box-sizing: border-box;
    border-radius: 10px;
    width: 17%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(132,131,171,1) 37%, rgba(127,87,148,1) 71%, rgba(148,187,233,1) 86%);
}


.cardDiv a{
    color: aqua;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.cardDiv a:hover{
    color: brown;
    transition: .5s;
}



.userInfo,
.address,
.geoList,
.companyList,
.postBtn{
    padding: 10px;
}


.userInfo{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 44%, rgba(218,74,133,1) 78%, rgba(252,70,107,1) 100%);
}

.address{
    background: rgb(63,251,100);
    background: radial-gradient(circle, rgba(63,251,100,0.8578781854538691) 0%, rgba(106,202,109,1) 0%, rgba(154,148,119,1) 48%, rgba(150,152,118,1) 65%, rgba(218,74,133,1) 76%, rgba(252,70,107,1) 96%);
}

.geoList{
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 6%, rgba(86,144,202,1) 43%, rgba(29,253,231,1) 65%, rgba(252,176,69,1) 95%);

}

.companyList{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(183,182,221,1) 36%, rgba(228,163,216,1) 50%, rgba(148,187,233,1) 86%);
}


















