body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    box-sizing: border-box;
    height: 400px;
    width: 680px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.square-card{
    display: flex;
    justify-content: space-evenly;
}
.square-card__card div{
    width: 100px;
    height: 100px;
    background-color: azure;
    margin: 5px;
}
.square-card__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.br{
    border-radius: 50%;
}
.br-10{
    border-radius: 10px;
}
.backrColor{
    background-color: darkblue;
}



